* {
	box-sizing: border-box;
}

#contenedor {
	width: 80%;
	margin: 0 auto;
}

.campos {
	margin-bottom: 10px;
}

.erro {
	color: red;
}
.ok {
	color: green;
}

.incorrecto {
	color: orange;
}

#alertas {
	background-color: tomato;
	padding: 10px;
}

#correcto {
	background-color: lightgreen;
	padding: 10px;
}
#incorrecto {
	background-color: orange;
	padding: 10px;
}

